@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Poppins:wght@300;400;600;800&display=swap');

:root{
    --clr-primary: #1c1c1c;
    --clr-secondary: #FFA103;
    --clr-secondary-light: #f3c678;
    --clr-bg-opacity: #1c1c1c9c;
    --clr-content-bg: #1c1c1cc6;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: var(--clr-primary);
    padding: 20px 16px 0px 16px;
}

.header .restaurant-name{
    font-family: 'Flamenco', cursive;
    color: var(--clr-secondary);
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}

.header > .nav{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.header > .nav .nav-btn{
    border: 4px solid transparent;
    font-family: 'Flamenco', cursive;
    outline: none;
    background-color: transparent;
    font-size: 1.3rem;
    padding: 8px;
    color: var(--clr-secondary);
    font-weight: 600;
    cursor: pointer;
}

.header > .nav .nav-btn:hover{
    border-bottom: 4px solid var(--clr-secondary-light);
    transition: 0.15s ease-in;
}

.header > .nav .nav-btn.active{
    border-bottom: 4px solid var(--clr-secondary);
}

.main{
    flex: 1;
    background-image: url(./assets/bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display: flex;
}

.main > .main-content{
    background-color: var(--clr-bg-opacity);
    flex: 1;
    display: flex;
}

.main > .main-content > .home{
    padding: 20px 0px 16px 0px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main > .main-content > .home .home-container{
    padding: 32px 10px;
    margin-top: 5%;
    background-color: var(--clr-content-bg);
}

.main > .main-content > .home .heading{
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-secondary);
    margin-bottom: 10px;
}

.main > .main-content > .home .sub-heading{
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-secondary);
}


.main > .main-content > .home .book-seat-btn{
    font-family: 'Flamenco', cursive;
    outline: none;
    border: none;
    border-radius: 2rem;
    background-color: var(--clr-secondary);
    font-size: 1.3rem;
    padding: 10px 16px;
    color: var(--clr-primary);
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
}

.main > .main-content > .home .book-seat-btn::after{
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 8px;
    color: var(--clr-primary);
}

.main > .main-content > .home .book-seat-btn:hover{
    background-color: var(--clr-secondary-light);
    transition: 0.2s ease-in-out;
}

.main > .main-content > .contact{
    padding: 20px 0px 16px 0px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main > .main-content > .contact > .contact-container{
    width: max(40%, 200px);
    margin: 0 auto;
    background-color: var(--clr-content-bg);
    padding: 32px 16px;
    margin-top: 5%;
}

.main > .main-content > .contact .contact-heading{
    color: var(--clr-secondary);
    font-weight: 600;
    border-bottom: 2px solid var(--clr-secondary);
    font-size: clamp(1.6rem, 3vw, 2rem);
    font-family: 'Flamenco', cursive;
}

.main > .main-content > .contact .numbers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.main > .main-content > .contact .numbers-container span{
    color: var(--clr-secondary);
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

.main > .main-content > .contact .numbers-container span::before{
    content: '\f095';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}

.main > .main-content > .contact .social-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 32px;
}

.main > .main-content > .contact .social-container i{
    font-size: 1.2rem;
    color: var(--clr-secondary);
}

.main > .main-content > .menu{
    padding: 20px 0px 16px 0px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main > .main-content > .menu > .menu-container{
    width: max(60%, 200px);
    margin: 0 auto;
    padding: 32px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--clr-content-bg);
    gap: 20px;
}

.main > .main-content > .menu > .menu-container .food {
    display: flex;
    flex-direction: column;
}

.main > .main-content > .menu > .menu-container .food:hover{
    cursor: pointer;
}

.main > .main-content > .menu > .menu-container .food:hover .food-title{
    background-color: var(--clr-secondary-light);
    transition: 0.3s ease-in-out;
}

.main > .main-content > .menu > .menu-container .food .food-img{
    width: 100%;
    background-size: cover;
}
.main > .main-content > .menu > .menu-container .food .food-title{
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
    padding: 8px;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Flamenco', cursive;
}

.main > .main-content > .menu > .menu-container .rice{
    content: url(../src/img/rice.jpg);
}

.main > .main-content > .menu > .menu-container .biriyani{
    content: url(../src/img/biriyani.png);
}

.main > .main-content > .menu > .menu-container .naan{
    content: url(../src/img/naan.png);
}

.main > .main-content > .menu > .menu-container .butter-paneer{
    content: url(../src/img/butter-paneer.png);
}

.main > .main-content > .menu > .menu-container .samosa{
    content: url(../src/img/samosa.png);
}

.main > .main-content > .menu > .menu-container .dosa{
    content: url(../src/img/dosa.jpg);
}

.main > .main-content > .menu > .menu-container .idly{
    content: url(../src/img/idly.jpg);
}
.main > .main-content > .menu > .menu-container .tandoor-chicken{
    content: url(../src/img/tandoor-chicken.png);
}
.main > .main-content > .menu > .menu-container .gulab-jamun{
    content: url(../src/img/gulab-jamun.png);
}

.footer{
    background-color: var(--clr-primary);
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-secondary);
}

.footer p{
    font-family: 'Flamenco', cursive;
    font-weight: 600;
}

@media(max-width: 450px){
    .main{
        background-position: 10%;
    }

    .main > .main-content > .menu > .menu-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 16px;
    }
}